@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";

// Layout Styles
@import "layout/_header";
@import "layout/_footer";

// Sections Styles
@import "sections/_4slices.scss";
@import "sections/_gallery.scss";
@import "sections/_info.scss";
@import "sections/_more.scss";
@import "sections/_newsletter.scss";
@import "sections/_reviews.scss";
@import "sections/_reviews.scss";