/* =============
    Base
============= */

img{
    max-width: 100%;
}


article{
display: flex;
flex-direction: column;
@include lg{
    flex-direction: row;

}

@mixin site-padding(){
    padding: 40px 20px;
    @include lg{
        padding: 150px 200px;
    }
}

}



button{
    background-color: var(--yellow);

}



ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
 

 

.container-grid{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". grid-content .";
    min-height: 100vh;
 
    .grid-content{
        grid-area: grid-content;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 
img{
    width: 100%;
}
 
