#thankyou{

    h1{
        @include mainheadline(black);
        font-size: 34px;
    }

    h2{
        @include subheadlines(black);
        font-size: 20px;
    }
    display: flex;
    text-align: center;
    justify-content: center;
}