/* =============
    Header
============= */
header {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    

    #burger-btn {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        position: relative;
       div {
            height: 5px;
            width: 30px;
            background-color: var(--white);
            
        }

    }


    #burger-btn.open{
        div{
          transition:.3s;
          //// COLORS & STYLES FOR ALL HERE
          &:first-child{
            transform: rotate(45deg);
            transform-origin: bottom left;
          }
          &:nth-child(2){
            opacity:0;
          }
          &:last-child{
            transform-origin: top left;
            transform:rotate(-45deg);
          }
        }
      }

    #burger-container {
        display: block;
        position: absolute;
        z-index: 3;
        
        right: 10px;

        @include lg {
            display: none;
        }
    }


    #main-menu {
        @media only screen and (max-width: 1024px) {
            background-color: black;
            transition:.3s;
            height: 100vw;
            width: 60%;
            position: absolute;
            right: -100%;
    
  
            &.show-menu{
                right:0;
                transition:.3s;
              
              //// YOUR OPEN MENU CODE GOES HERE /////
             ul a{
                @include subheadlines(white);
                font-size: 30px;
                text-decoration: none;
                
            }
            
            }
        }
       
        ul {
            display: flex;
            justify-content: space-between;
            text-align: center;
            a{
                @include subheadlines(white);
                font-size: 30px;
                text-decoration: none;
                
            }

        }

        @include lg {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            
            
        }
    }
    #logo-container{
        position: absolute;
        left: 10px;
    }
}